<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <form>
    <table>
        <tr>
            <td>제목</td>
            <td><input id="title" type="text"></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><input id="content" type="text"></td>
        </tr>
        <tr>
            <td><button id="submit-btn">등록</button></td>
            <td><button id="back-btn">취소</button></td>
        </tr>
    </table>
</form>
<script>
    
</script>
</body>
</html>